<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-button color="primary" (click)="myBackButton()">retour</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
        <ion-card-content>
            <div id="normal" *ngIf="this.imc.toFixed(2) > 18.49 && this.imc.toFixed(2) < 25.01">
                Votre IMC est normal.
            </div>

            <div id="bas" *ngIf="this.imc.toFixed(2) < 18.49">
                Votre IMC est trop bas.
            </div>

            <div id="haut" *ngIf="this.imc.toFixed(2) > 25.01">
                Votre IMC est trop haut.
            </div>
        </ion-card-content>
    </ion-card>


    <ion-content>
        <ion-list-header color="light"></ion-list-header>
        <ion-card class="welcome-card">
            <ion-card-header>
                <ion-card-title style="text-align:center">IMC {{this.imc.toFixed(2)}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <canvas #barChart></canvas>
            </ion-card-content>
        </ion-card>
    </ion-content>


</ion-content>