<ion-header [translucent]="true">
    <ion-toolbar>


        <ion-button color="primary" (click)="myBackButton()">retour</ion-button>

        <ion-title>
            Tab 2
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>



    <p>Votre IMC est de : {{this.imc.toFixed(2)}}</p>

    <div *ngIf="this.imc.toFixed(2) > 20 && this.imc.toFixed(2) < 30">
        Votre IMC est bon.
    </div>

</ion-content>