<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title style="text-align:center">
            Calcul de votre IMC
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="fond" [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title style="text-align:center">Calcul IMC</ion-title>
        </ion-toolbar>
    </ion-header>



    <ion-item>
        <ion-input type="number" placeholder="Poids en Kg" [(ngModel)]="poids" min="0" max="200" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="number" placeholder="Taille ex: 170 m" [(ngModel)]="taille" step="1" min="150" max="250" required></ion-input>
    </ion-item>


    <ion-button expand="full" color="primary" (click)="imc(poids,taille)">IMC</ion-button>


</ion-content>