<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Calcul de votre IMC
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-item>
        <ion-input type="number" placeholder="Age" [(ngModel)]="age" min="0" max="100" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="number" placeholder="Poids" [(ngModel)]="poids" min="0" max="200" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="number" placeholder="Taille" [(ngModel)]="taille" step="0.01" min="1.50" max="2.5" required></ion-input>
    </ion-item>

    <ion-button>
        <ion-button color="primary" (click)="imc(age,poids,taille)">IMC</ion-button>
    </ion-button>

</ion-content>