<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title style="text-align:center">
            Statistiques
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large"> Statistiques</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-button expand="full" color="primary" (click)="data()">les données</ion-button>

    <ion-button expand="full" color="primary" (click)="createBarChart()">graphique</ion-button>

    <ion-card color="secondary">
        <label>BDD</label>
        <ion-list *ngIf="donnees">
            <ion-item *ngFor="let donnee of donnees">
                <label>date : {{donnee.jour}}</label>
                <label>poids : {{donnee.poids}}</label>
            </ion-item>
        </ion-list>
    </ion-card>


    <ion-list-header color="light"></ion-list-header>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title style="text-align:center">Statistique</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <canvas #barChart></canvas>
        </ion-card-content>
    </ion-card>

</ion-content>